/* Style sheet that will be used in the tweeten index page */

.columnCantain{
    margin-top: 80px;
}
.column1{
    width: 20%;
    float: left;
	font-size: 20px;
	text-align: center;
    margin-left: 10px;
	
    text-align: left;
    padding-left: 50px;
}
.column2{
    width: 50%;
    float: left;
    align-self: auto;
	font-size: 25px;
	text-align: center;
	margin-left: 4%;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
.column3{
    width: 20%;
    float: right;
	font-size: 20px;
    margin-right: 10px;

}
.panel{
  
    width: 90%;
}
.panel1{
    
      width: 90%;
  }
  /* .button {
    background-color: white;
    border: none;
    color: #0066ff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
} */
.imagemain {
    border-radius: 50%;
	height: 180px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 8px;
    width: 180px; 
    padding:3px;
    border:1px solid gray;
    background-color:white;
}
.followimg{
    float: left;
    border-radius: 50%;
	height: 70px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 8px;
	width: 90px;
}
.imagenav{
    border-radius: 50%;
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 8px;
	width: 70px;
}
.tweetbtns{
    background-color: #0066ff;
    color: white;
}
.tweetbtn{
    float: right;
    
}
.btn-default2{
    background-color: #00ccff;
    float: left;  
    margin-left: 5px;
}

.btn-defaultfollow{
    background-color: #00ccff;
} 
.textcount{
    float: left;
    margin-right: 5px;
}
h2{
    font-weight: bold;
}
h4{
    text-align: left;
 
}
.tweetname{
   
    font-weight: bold;
   display: inline;
   float: left;
  
}
.tweetdate{
    display: inline;
    float: left;
}
.retweetmessage{ 
    padding-top: 5px;
    margin-right: 15%;
    font-size: 12px;
    float: left;
  
}
.tweetimage {
    float: left;
    border-radius: 50%;
	height: 100px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 8px;
    width: 120px; 
}
.reply{
    
    display: inline;
   
  
}
.retweet{
    display: inline;
   
}
.likes{
    display: inline;
   
}
.message{
    display: inline;
    margin-right: 60%;  
}
.glybtn{
  
   background-color: white;
   border: none;
}
